.App {
  text-align: left;
  margin: 0;
  padding: 0;
}

.App-left {
  overflow: scroll;
  overflow-x: hidden;
}

.App-intro {
  font-size: large;
}

.App-split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.App-pixxiti {
  background-color: red;
  flex: 1;
  height: 100%;
}
