.draw {
  height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
}

.colorBox {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top-color: #ddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-color: #ddd;
  border-left-style: solid;
  border-left-width: 1px;
  cursor: pointer;
}

.colorBox_gray {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top-color: #ddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-color: #ddd;
  border-left-style: solid;
  border-left-width: 1px;
  filter: grayscale();
}

.color_00_g {
  background-color: #FFFFFF;
  width: 100%;
}

.color_01_g {
  background-color: #E4E4E4;
  width: 100%;
}

.color_02_g {
  background-color: #888888;
  width: 100%;
}

.color_03_g {
  background-color: #222222;
  width: 100%;
}

.color_04_g {
  background-color: #FFA7D1;
  width: 100%;
}

.color_05_g {
  background-color: #E50000;
  width: 100%;
}

.color_06_g {
  background-color: #E59500;
  width: 100%;
}

.color_07_g {
  background-color: #A06A42;
  width: 100%;
}

.color_08_g {
  background-color: #E5D900;
  width: 100%;
}

.color_09_g {
  background-color: #94E044;
  width: 100%;
}

.color_10_g {
  background-color: #02BE01;
  width: 100%;
}

.color_11_g {
  background-color: #00D3DD;
  width: 100%;
}

.color_12_g {
  background-color: #0083C7;
  width: 100%;
}

.color_13_g {
  background-color: #0000E4;
  width: 100%;
}

.color_14_g {
  background-color: #CF6EE4;
  width: 100%;
}

.color_15_g {
  background-color: #820080;
  width: 100%;
}
